@charset "UTF-8";
/* Importação de fonte (google fontes) */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

:root {
    --azul: #05152b;
    --branco: #fff;
    --preto: #000;
    --marrom: rgb(47, 48, 48);
}
/*Css reset (Compatibilizar com todos os navegadores)*/
* {
    margin:0;
    padding: 0;
    border: 0;
}

/*Layout */
body {
    font-family: "Playwrite GB S", cursive;
    font-size: 1em;
    
}

#logo img {
    width: 80px;
    height: 80px;
    margin-top: 7px;
    margin-left: 10px;
}
.container {
    margin: 0 auto; /*Margin 0 auto centraliza o bloco*/
}
.botao {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 700;
    color: orangered;
    text-shadow: white 0.05em 0.05em 0.05em; 
    background-color: rgba(#fff);
    width: 200px;
    padding: 8px 0px;
    border: 2px solid var(--branco);
    border-radius: 25px;
    align-self: center;
    margin-top: 30px;
}
.botao:hover {
    background-color: white;
}

/**** breakpoints*****/

/* Smartphones portrait >>>>>>>>>>>>>>>>>>>>>>>>>> */
/* CABEÇALHO */
header {
    height: 90px;
    background-color:rgb(48, 46, 46);
}

#check {
    display: none;
}

#check:checked~ul {
 /* Efeito de deslizar o menu se check estiver "ticado", crie um estilo para ul*/
 right: 0px;
}

label {
    font-size: 2em;
   position: fixed;
   top: 15px;
   right: 15px;
   color: rgb(103, 105, 105, 0.5);
}

nav ul {
    height: 100vh;
    background-color: rgba(48, 46, 46, 0.897);
    list-style: none; /* remove bullets */
    width: 65%;
    position: fixed;
    top:87px;
    right: -65%;
    transition: all 0.5s;
}

nav ul li {
    padding: 15px 20px;
    border-bottom: 2px solid var(--preto);
    text-align: right;
}
nav ul li a {
    color: whitesmoke; /* var(--branco); */
    text-decoration: none; /*remove sublinhado */
}

.container {
    margin: 0 auto;
}
/* Banner  */
main {
height: 60vh;
background: url(img/banner02.PNG);
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}

main h1,h2 {
    color: var(--branco);
    text-shadow: #000 0.05em 0.05em 0.05em  ; /* sombra */

}
main h1 {
    font-size: 3em;
}

main h2 {
    font-size: 1.8em;
    margin-top: 30px;
}



/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */





/* Smartphones Landscape >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {
/* CABEÇALHO */
#logo img {
margin: 10px 0px 0px 0px;
}
.container {
    max-width: 100%;
    background-color: rgb(47, 48, 48);
}
#logo img {
    width: 80px;
    height: 80px;
}
}






/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Tablet portrait >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {
    .container {
        max-width: 100%px;
    }

    header {
        height: 140px;
    }
    #logo img {
        width: 125px;
        height: 125px;
    }

            main h1 {
                font-size: 5em;
            }
    label {
     font-size: 3em;
      }
  

  
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {
    /* CABEÇALHO */
    .container {
        max-width: 100%;
        background-color:rgb(47, 48, 48);
    }
       #logo img {
        width: 140px;
        height: 140px;
    }

    header {
        height: 153px;
    }
    label {
        font-size: 4em; }
    
 

}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        background-color:  rgb(47, 48, 48);
    }
      /*Cabeçalho*/
    header {
        height: 150px;
    }
    #logo img {
        width: 128px;
        height: 128px;
    }
      /*Transformação do menu */
    label {
        display:none;
    }
    nav ul {
        width: 100%;
        height: auto;
        position: static;
        background-color: transparent; /*Remove a cor do background*/
    }

    nav ul li {
        float: left;
        border: 0;
    }
    nav ul li a {
        color: var(--branco);
    
    }
    nav ul li a:hover {
        color: var(--azul);
    }

    .container {
        margin: 0 auto;
        display: flex;
        justify-content:space-between;
        align-items: center ;
    }

}






/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* telas fullhd / 4K / smartTv >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1420px) {
    .container {
        max-width: 1360px;
        background-color: rgb(47, 48, 48);
    }
    header {
        height: 150px;
    }
    #logo img {
        width: 140px;
        height: 140px;
    }

}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */