@charset "UTF-8";

/* Importação de fonts (google fonts) */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
/* Variáveis */
:root {
    --background: #0f0f0f;
    --branco: #fff;
    --amarelo: #e5b567;
    --azulEscuro: #05152b;
    --marrom: rgb(47, 48, 48);
    --laranja: #e87d3e;
}

/* CSS Reset (compatibilizar com todos navegadores) */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Layout >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
body {
    font-family: "Playwrite GB S", cursive;
     /* font-family: "Open Sans", sans-serif; */ 
    font-size: 1em;
    /* 1em = 100% (tamanho padrão) */
    background-color: var(--background);
}

.container {
    margin: 0 auto;
    /* centralizar o bloco */
    display: flex;
    justify-content: space-between;

}

.botao {
    font-family:  "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 700;
    color: rgb(128, 69, 47);
    text-shadow: rgb(0, 0, 0) 0.05em 0.05em 0.05em; 
    width: 200px;
    padding: 10px 20px;
    border: 2px solid rgb(4, 36, 4);
    border-radius: 25px;
    align-self: center;
    margin-top: 40px;
}
.botao:hover {
    background-color: rgba(0, 0, 0, 0.774);
}

#institucional {
    text-align: center;
}

#sobre .container {
    flex-direction: column;
}

#institucional {
    text-align: center; 
    
}


/* Fim do Layout <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/****** Cabeçalho ******/

header {
    height: 65px;
    /* background-color: #00ffff;*/
}

#logo img {
    width: 128px;
    height: 128px;
}

#check {
    display: none;
}

/* Efeito "deslizar o menu" */
/* Se check estiver "ticado", crir um estilo para ul*/
#check:checked~ul {
    right: 0;
}


nav ul {
    list-style: none;
    background-color: var(--marrom);
    height: 100vh;
    position: fixed;
    top: 65px;
    right: -50%;
    width: 50%;
    transition: all 0.5s;
}

nav ul li {
    padding: 15px 20px;
    border-bottom: 2px solid var(--branco);
    text-align: right;
}

nav ul li a {
    color: var(--branco); 
    text-decoration: none; /*remove sublinhado */
}


label {
    font-size: 2em;
   position: fixed;
   top: 15px;
   right: 33px;
   color: var(--branco);
}






/****** Banner ******/
main {
    height: 60vh;
    /* ajuste da altura do Banner */
    background: url(img/mocha.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1,
h2 {
    /* efeito de sombra nos textos */
    text-shadow: #000 0.05em 0.05em 0.05em;
}

main h1 {
    color: var(--amarelo);
    font-family: "Koulen", sans-serif;
    font-size: 2.9em;
}

main h2 {
    color: var(--branco);
    font-size: 2.2em;
    margin-top: 25px;
    font-weight: 800;
}

/* >>>>>>>>>>> Destaque >>>>>>>>>> */
#destaque {
    background: url(img/lousa1.png); 
    background-size: cover;
    background-position: center;
    padding: 50px 15px;
     
    /* Padding é o espaçamento interno para não
    encostar na porta do dispositivo */
}

/* Atenção!!! Organizando o container após o destaque
o estilo é aplicado apenas ao container da seção de destaque */

#destaque .container{
    flex-direction: column;
    align-items: center;

}
#imagemDestaque img {
    width: 200px;
    height: 200px;
/* arrendondar uma imagem quadrada*/
border-radius: 50%;
}


#textoDestaque {
    color: rgba(255, 255, 255, 0.712);
}
#textoDestaque h2 {
    margin-bottom: 20px;

}

#textoDestaque>p {
color: var(--azul);
margin-bottom: 15px;
}

.topicos {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.topicos img {
    margin-right: 10px;
}

.topico p {
    font-weight: 600;

}

#imagemDestaque {
    display: none;
}

#destaque .container {
    flex-direction: column;
    align-items: center;
}
#sobre {
    padding: 50px 15px;
}


#sobre h2, p {
    color: var(--branco);
}

#sobre h2 {
    margin-bottom: 20px;
}
#destaque .container {
    flex-direction: row;
}

#video iframe {
    width: 270px;
    height: 138px;
    margin-top: 20px;
}

#faixadestaque {
    background: url(img/lousa1.png);
    background-size: cover;
    background-position: center;
    padding: 50px 15px;
}

#faixadestaque .container {
    flex-direction: column;
}

#imagemfaixa img {
    width: 256px;
    height: 256px;
}

#textofaixa h2 {
    margin-bottom: 15px;
    
}

#textofaixa p {
    margin-bottom: 50px;
}
/* FIm | Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>*/


/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {

    /****** Layout ******/
    .container {
        max-width: 540px;
        /* background-color: #ffff00;*/
    }

    /****** Cabeçalho ******/
    nav ul {
        right: -25%;
        width: 25%;
    }

    /****** Banner ******/
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 3em;
    }
    #destaque .container {
        flex-direction: row;
    }
    #imagemDestaque {
        margin-right: 50px;
    }
    #imagemDestaque img {
        width: 256px;
        height: 256px;
}
   /* >>>>>>>>>>>>>>>>>>>>>>>>> Sobre */

   #sobre .container {
    flex-direction: column;
}

    
   #sobre {
    padding: 50px 15px;
}

#sobre h2, p {
    color: var(--branco);
}

#sobre h2 {
    margin-bottom: 20px;
}

#video iframe {
    width: 560px;
    height: 315px;
    margin-top: 70px;
}


}

/* Fim | Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>*/


/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {

    /******* Layout ******/
    .container {
        max-width: 720px;
        /* background-color: #00ff00; */
    }
    
header {
    height: 125px;
}
nav ul {
    top: 105px;
    right: -50%;
    width: 50%;
    transition: all 0.5s;
}


    /****** Banner ******/
    main {
        height: 80vh;
    }

    main h1 {
        font-size: 4em;
    }

    /* >>>>>>>>>>>>>>>>>>>>>>>>> Destaque */
    #imagemDestaque img {
        width: 440px;
        height: 440px;
    }


    .topicos {
        display: flex;
        align-items: center;
        margin-top: 5px;
    }

    #sobre {
        margin-top: 0px;
      
    }
    #video iframe {
        width: 650px;
        height: 391px;
        margin-top: 60px;
    }
    #sobre #container {
        align-items: center;
    }
}
  

/* Fim | Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {

    /****** Layout ******/
    .container {
        max-width: 960px;
        /* background-color: #ffa500; */
    }

    /****** Banner ******/
    main {
        height: 70vh;
    }
   

    
}

/* Fim | Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {

    /****** Layout ******/
    .container {
        max-width: 1140px;
        /* background-color: #ff009d; */
    }

    /****** Cabeçalho ******/
    header {
        height: 100px;
    }

    #logo img {
        width: 194px;
        height: 194px;
    }

    /* Transformação do menu */
    label {
        display: none;
    }

    nav ul {
        margin-top: 25px;
        width: 100%;
        height: auto;
        position: static;
        /* remover a cor do background */
        background-color: transparent;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: var(--branco);
    }

    nav ul li a:hover {
        color: var(--amarelo);
    }

    /****** Banner ******/
    main h1 {
        font-size: 6em;
    }

    main h2 {
        font-size: 3em;
    }
 #destaque {
        background-attachment: fixed;
    }

    #imagemDestaque {
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-right: 100px;
    }
    #imagemDestaque img {
        margin-right: 100px;
    
  
    }
  
    
    



        /******* Sobre ******/
        #sobre {
            margin-top: 10px;
          
        }

        #sobre .container {
            flex-direction: row;
            align-items: center;
        }
    
        #institucional #video iframe {
            margin-top: 0;
            width: 400px;
            height: 450px;
            
        }
     
    

        #faixadestaque {
            background-attachment: fixed;
        }
      
        #faixadestaque .container {
            flex-direction: row-reverse;
           
        }

    }

/* Fim | PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* Telas Grandes (FullHD / 4K / SmartTV) >>>>>>>>>>>*/
@media (min-width: 1400px) {

    /****** Layout ******/
    .container {
        max-width: 1360px;
        /* background-color: #7d5b8c; */
    }

    /****** Banner ******/
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 6.5em;
    }

    #video iframe {
        margin: 0;
        width: 940px;
        height: 380px;
        margin-left: 80px;
    }


}