@charset "UTF-8";
/* Importação de fonte (google fontes) */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

/*Css reset (Compatibilizar com todos os navegadores)*/
* {
    margin:0;
    padding: 0;
    border: 0;
}

/*Layout */
body {
    font-family: "Playwrite GB S", cursive;
    font-size: 1em;
    
}

#logo img {
    width: 80px;
    height: 80px;
    margin-top: 7px;
    margin-left: 10px;
}
.container {
    margin: 0 auto; /*Margin 0 auto centraliza o bloco*/
}

/**** breakpoints*****/

/* Smartphones portrait >>>>>>>>>>>>>>>>>>>>>>>>>> */
/* CABEÇALHO */
header {
    height: 90px;
    background-color:rgb(48, 46, 46);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */





/* Smartphones Landscape >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {
/* CABEÇALHO */
#logo img {
margin: 10px 0px 0px 0px;
}
.container {
    max-width: 540px;
    background-color: rgb(47, 48, 48);
}
#logo img {
    width: 100px;
    height: 100px;
}
}






/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Tablet portrait >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    header {
        height: 120px;
    }
    #logo img {
        width: 100px;
        height: 100px;
    }


}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {
    /* CABEÇALHO */
    .container {
        max-width: 960px;
        background-color:rgb(47, 48, 48);
    }
    header {
        height: 150px;
    }
 

}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        background-color:  rgb(47, 48, 48);
    }
    header {
        height: 150px;
    }
    #logo img {
        width: 128px;
        height: 128px;
    }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* telas fullhd / 4K / smartTv >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1420px) {
    .container {
        max-width: 1360px;
        background-color: rgb(47, 48, 48);
    }
    header {
        height: 150px;
    }
    #logo img {
        width: 140px;
        height: 140px;
    }

}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */