@charset "UTF-8";

/**** breakpoints*****/

/* Smartphones portrait >>>>>>>>>>>>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Smartphones Landscape >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {
    body {
    background-color: #00ff00;
}
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Tablet portrait >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {
    body {
    background-color: #ffff00;
}
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {
    body {
    background-color: #00ffff;
}
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1230px) {
    body {
    background-color: #ff0000;
    color: #ffff00;
}
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* telas fullhd / 4K / smartTv >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1420px) {
    body {
    background-color: #5900ff;
    color: #ffffff;
    
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */